.home-container {
  background-color: #fff;
}


.home-2panding {
  display: flex;
  flex-direction: column-reverse;
  border-radius: 20px;
  padding: 10px;
  color: #fff;
  padding: 5px;


}

.home-content-container {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 5px 50px 20px;
  font-size: 20px;
 
}
.home-content-container h1 {
  font-size: 1em;
  margin-bottom: 20px;
}
.home-content-container p {
  font-size: 15px;
  text-align: center;
}

.home-img-container {
  padding: 25px, 5px;

}

.home-img-container svg {
  width: 100%;
  height: auto;
}

.home-button {
  box-shadow: 0px 4px 20px rgba(0, 0, 0 0.25);
  border-radius: 20px;

  padding: 25px 5px 20px 10px;
  background-color: #ededed;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;
}
.home-button h6 {
  color: #585858;
}

@media (min-width: 576px) {
  .home-content-container {
    padding: 15px 30px 30px;
    font-size: 32px;
    text-align: center;
  }

  .home-content-container p {
    font-size: 20px;
    
  }
  .home-button h6 {
    font-size: 20px;
  }

  .home-img-container svg {
    width: 426px;
  }
  .home-img-container {
    display: flex;
    justify-content: center;
  }
}
@media (min-width: 768px) {

    .home-2panding {
        padding: 80px 50px;
    
    }

    .home-content-container {
        padding: 20px 40px 40px;
        font-size: 40px;
        text-align: center;
      }
    
      .home-content-container p {
        font-size: 25px;
        
      }
      .home-button h6 {
        font-size: 25px;
      }
    

    .home-button {
        display: flex;
        justify-content: space-around;

    }
    .home-content-container {

        padding: 5px 70px 20px;
    }
}
@media (min-width: 1200px) {
    .home-2panding {
        flex-direction:row;
        justify-content: center;
        padding: 10px;
    }
    .home-content-container {        
        padding: 35px 55px 20px;

    }


    .home-content-container h1 {
        padding: 140px 15px 1px 35px;
        font-size: 1.2em;
        text-align: justify;
      }
      .home-content-container p {
        padding: 0px 15px 140px 35px;
        font-size: 25px;
        text-align:left;
      }

      .home-button {
        justify-content: flex-start;
      }

      .home-button h6 {
          padding: 0px 15px;

      }






}
